---
Compact the conversation history. Do not call unless explicitly asked by the user.
---

Provide a detailed prompt for continuing our conversation above.

Focus on information that would be helpful for continuing the conversation, including what we did, what we're doing, which files we're working on, and what we're going to do next.

The summary that you construct will be used so that another agent can read it and continue the work.

When constructing the summary, try to stick to this template:
---
## Goal

[What goal(s) is the user trying to accomplish?]

## User Questions

[Bullet list of all messages sent by the user (including from previous sessions if present) trimmed for bervity -> In 1 sentence explain action that was taken. If there is a plan or spec, include information about it so next agent can continue using it]

e.g.

"Run go run ./examples/main.g ..." and follow ups -> Fixed MessagePart type assertion
"Is the correct? We care about the context window vise." -> Updated pkg/toroid/kernel.go
...

## Discoveries

[What notable things were learned during this conversation that would be useful for the next agent to know when continuing the work]

## Accomplished

[What work has been completed, what work is still in progress, and what work is left?]

## Relevant files / directories

[Construct a structured list of relevant files that have been read, edited, or created that pertain to the task at hand. If all the files in a directory are relevant, include the path to the directory.]
---

Answer only with the response without ---.